{% extends 'base.html.twig' %}
{% block title %}
    {{ titlePage }}
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chaussure in chaussures %}
            <tr>
                <td>{{ chaussure.id }}</td>
                <td>{{ chaussure.nom }}</td>
                <td>{{ chaussure.Description }}</td>
                <td>{{ chaussure.prix }} €</td>
                <td><img src="{{ chaussure.image }}" class="w-40 h-40"></td>
                <td>
                    <a href="{{ path('app_chaussure_show', {'id': chaussure.id}) }}">show</a>
                    <a href="{{ path('app_chaussure_edit', {'id': chaussure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chaussure_new') }}">Create new</a>
{% endblock %}